* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  background: #1d1c1c00;
}

#box {
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, deeppink, cyan);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  clip-path: polygon(
    516px 295px,
    0px 295px,
    0px 0px,
    516px 0px,
    516px 295px,
    506px 285px,
    506px 10px,
    10px 10px,
    10px 285px,
    506px 285px
  );
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
